<div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="./assets/images/banco.png" alt="Logo principal" class="w-50"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="ml-auto d-flex">
                    <div class="mr-3 my-auto">
                        <h2 class="text-black size16 text-right mb-0">Carlos Gómez</h2>
                        <p class="text-gray size14 text-right mb-0">Gerente de Relación</p>
                    </div>
                    <div class="">
                        <img class="w-60" src="/assets/images/trabajador.jpg" alt="Avatar">
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</div>